{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web/css/dashboard.css' %}">
</head>

<body class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div class="sidebar-logo">
            
        </div>

        <div class="sidebar-user">
            <div class="avatar-circle">
                <span>{{ request.user.first_name|default:"U" |slice:":1" }}</span>
            </div>
            <div class="sidebar-user-info">
                <p class="user-name">{{ request.user.get_full_name|default:request.user.username }}</p>
                <p class="user-email">{{ request.user.email }}</p>
            </div>
        </div>

        <nav class="sidebar-menu">
            <a href="{% url 'dashboard' %}"
                class="menu-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                Inicio
            </a>
            <a href="{% url 'loans_page' %}" class="menu-item {% if request.resolver_match.url_name == 'loans_page' %}active{% endif %}">
                Préstamos
            </a>
            <a href="{% url 'students_page' %}"
                class="menu-item {% if request.resolver_match.url_name == 'students_page' %}active{% endif %}">
                Alumnos
            </a>
            <a href="{% url 'books_page' %}" class="menu-item {% if request.resolver_match.url_name == 'books_page' %}active{% endif %}">
                Libros
            </a>
            <a href="{% url 'categories_page' %}"
                class="menu-item {% if request.resolver_match.url_name == 'categories_page' %}active{% endif %}">
                Categorías
            </a>
            <a href="{% url 'authors_page' %}"
                class="menu-item {% if request.resolver_match.url_name == 'authors_page' %}active{% endif %}">
                Autores
            </a>
        </nav>

        <div class="sidebar-footer">
            <a href="{% url 'logout' %}" class="menu-item logout">Cerrar sesión</a>
        </div>
    </aside>

    <!-- CONTENIDO PRINCIPAL -->
    <main class="main-area">
        <header class="main-header">
            <h1 class="main-title">
                {% block header_title %}Biblioteca{% endblock %}
            </h1>
        </header>

        <section class="main-content">
            {% block content %}{% endblock %}
        </section>
    </main>

    {% block extra_js %}{% endblock %}
</body>

</html>